<main class="download-container">
    <h1>Baixe vídeos do YouTube online{{#if route}} em MP3{{/if}}!</h1>
    <div class="downloated-content">
        <div class="downloated-info">
            <img class="thumbnail" src="{{thumbnail}}" alt="{{title}}">
            <h4>{{title}}</h4>
            <p id="seconds"></p>
        </div>
        <form action="baixar" method="post">
            <input type="hidden" name="formato" value="{{formato}}">
            <input type="hidden" name="titulo" value="{{title}}">
            <input type="hidden" name="token" value="{{token}}">
            <input type="hidden" name="thumbnail" value="{{thumbnail}}">
            <input type="hidden" name="seconds" value="{{seconds}}">
            <div class="downloated-inputs">
                <button id="baixar" onclick='baixado()' type="submit">Baixar</button>
                <a href="/"><button type="button">Converter Outro</button></a>
            </div>
        </form>
        <div class="stars-form">
            <form action="/estrelas" method="post">
                <label for="estrelas">Avalie sua Experiencia:</label>
                    <div>
                        <input type="radio" id="rate-1" name="estrelas" class="estrela-estrelas" value="1" required><span class="fa fa-star c1"></span>
                        <input type="radio" id="rate-2" name="estrelas" class="estrela-estrelas" value="2" required><span class="fa fa-star c2"></span>
                        <input type="radio" id="rate-3" name="estrelas" class="estrela-estrelas" value="3" required><span class="fa fa-star c3"></span>
                        <input type="radio" id="rate-4" name="estrelas" class="estrela-estrelas" value="4" required><span class="fa fa-star c4"></span>
                        <input type="radio" id="rate-5" name="estrelas" class="estrela-estrelas" value="5" required><span class="fa fa-star c5"></span>
                    </div>
                <button id="enviar" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</main>
{{>info}}
<script src="/js/jquery-3.6.3.min.js"></script>
<script type="text/javascript">
    const segundos = {{seconds}}

    const formatarHorario = () => {
        const minutos = segundos / 60
        const s = segundos % 60
        return `${parseInt(minutos)}:${s.toString().padStart(2, '0')}`
    }

    document.querySelector('#seconds').innerHTML = `Duração: ${formatarHorario()}`

    const baixado = () => {
        const button = document.querySelector("#baixar");
        button.innerHTML = "Baixando...";
        button.style.backgroundColor = "#8d8d8d"
        setTimeout(() => {
            $("#baixar").prop("disabled", true)
        }, 500)
    }

    function cookieExists(name) {
        const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(`${name}=`)) {
                return true;
            }
        }
        return false;
    }

    function cookieValue() {
        var cookieString = document.cookie,
        cookies = cookieString.split(';');

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
                if (cookie.indexOf('avaliado=') === 0) {
                var valor = cookie.substring('avaliado='.length, cookie.length);
                return valor
            break;
            }
        }
    }

    console.log(cookieValue())

    switch (cookieValue()) {
        case '1': 
        $('.c1').addClass('checked')
        $('.c2, .c3, .c4, .c5').removeClass('checked');
        break;
        case '2': 
        $('.c1, .c2').addClass('checked')
        $('.c3, .c4, .c5').removeClass('checked')
        break;
        case '3':
        $('.c1, .c2, .c3').addClass('checked')
        $('.c4, .c5').removeClass('checked')
        break;
        case '4':
        $('.c1, .c2, .c3, .c4').addClass('checked')
        $('.c5').removeClass('checked')
        break;
        case '5':
        $('.c1, .c2, .c3, .c4, .c5').addClass('checked')
        break;
        default:
        break;
    }

    $("#rate-1").on("click", () =>{
        $('.c1').addClass('checked')
        $('.c2, .c3, .c4, .c5').removeClass('checked')})
    $("#rate-2").on( "click", () =>{
        $('.c1, .c2').addClass('checked')
        $('.c3, .c4, .c5').removeClass('checked')})
    $("#rate-3").on("click", () =>{
        $('.c1, .c2, .c3').addClass('checked')
        $('.c4, .c5').removeClass('checked')})
    $("#rate-4").on("click", () =>{
        $('.c1, .c2, .c3, .c4').addClass('checked')
        $('.c5').removeClass('checked')})
    $("#rate-5").on("click", () =>{
        $('.c1, .c2, .c3, .c4, .c5').addClass('checked')});

    if (cookieExists('avaliado')) {
        const button = document.querySelector('#enviar');
            button.innerHTML = "Enviado!";
            button.style.backgroundColor = "#8d8d8d"
            setTimeout(() => {
                $("#enviar").prop("disabled", true)
                $(".estrela-estrelas").prop("disabled", true)
            }, 500)
        } else {
        $("input[name='estrelas']").click(() => {
            console.log()
            $('#enviar').click(() => {
            document.cookie = 'avaliado='+ $("input[name='estrelas']:checked").val() +'; expires=' + new Date(2147483647 * 1000).toUTCString();
            const button = document.querySelector('#enviar');
            button.innerHTML = "Enviado!";
            button.style.backgroundColor = "#8d8d8d"
                setTimeout(() => {
                    $("#enviar").prop("disabled", true)
                    $(".estrela-estrelas").prop("disabled", true)
                }, 500)
            })
        })
    }
</script>