<main class="download-container">
    <h1>Baixe vídeos do YouTube online{{#if route}} em MP3{{/if}}!</h1>
    <div class="download-content">
        <form action="download" method="post">
        <input type="hidden" name="url" value="{{url}}">
        <input type="hidden" name="titulo" value="{{title}}">
        <input type="hidden" name="token" value="{{token}}">
        <input type="hidden" name="thumbnail" value="{{thumbnail}}">
        <input type="hidden" name="seconds" value="{{seconds}}">
        <div class="download-info">
            <img class="thumbnail" src="{{thumbnail}}" alt="{{title}}">
            <h4>{{title}}</h4>
            <p id="seconds"></p>
        </div>
        <div class="download-inputs">
            <div style="display: flex;flex-direction: column;">
                <label for="qualidade">Selecione o Formato:</label>
                <select name="qualidade" id="qualidade">
                {{#if mp4}}
                    <optgroup label="MP4">
                        {{#each mp4}}
                            <option name="mp4" value="{{itag}}">{{qualityLabel}}</option>
                        {{/each}}
                    </optgroup>
                {{/if}}
                {{#if webm}}
                    <optgroup label="Webm">
                        {{#each webm}}
                            <option name="webm" value="{{itag}}">{{qualityLabel}}</option>
                        {{/each}}
                    </optgroup>
                {{/if}}
                {{#if mp3}}
                    <optgroup label="MP3">
                        {{#each mp3}}
                            <option name="mp3" value="{{itag}}">{{audioBitrate}}kbps</option>
                        {{/each}}
                    </optgroup>
                {{/if}}
                </select>
            </div>
            <button onclick='convertendo()' type="submit">Converter</button>
        </div>
        </form>
    </div>
</main>
{{>info}}
<script type="text/javascript">
    const segundos = {{seconds}}

    const formatarHorario = () => {
        const minutos = segundos / 60
        const s = segundos % 60
        return `${parseInt(minutos)}:${s.toString().padStart(2, '0')}`
    }

    document.querySelector('#seconds').innerHTML = `Duração: ${formatarHorario()}`

    const vezesClicado = 0
    const convertendo = () => {
        const button = document.querySelector("button");
        button.innerHTML = "Convertendo...";
        button.style.backgroundColor = "#8d8d8d"
        setTimeout(() => {
            button.disabled = true
        }, 500)
    }

</script>