<main class="download-container">
    <h1>Baixe vídeos do YouTube online!</h1>
    <div class="download-content">
        <form action="baixar" method="post">
        <input type="hidden" name="formato" value="{{formato}}">
        <input type="hidden" name="titulo" value="{{title}}">
        <input type="hidden" name="token" value="{{token}}">
        <input type="hidden" name="thumbnail" value="{{thumbnail}}">
        <input type="hidden" name="seconds" value="{{seconds}}">
        <div class="download-info">
            <img class="thumbnail" src="{{thumbnail}}" alt="{{title}}">
            <h4>{{title}}</h4>
            <p id="seconds"></p>
        </div>
        <div class="download-inputs">
            <button onclick='baixado()' type="submit">Baixar</button>
            <a href="/"><button type="button">Converter Outro</button></a>
        </div>
        </form>
    </div>
</main>
<script type="text/javascript">
    const segundos = {{seconds}}

    const formatarHorario = () => {
        const minutos = segundos / 60
        const s = segundos % 60
        return `${parseInt(minutos)}:${s.toString().padStart(2, '0')}`
    }

    document.querySelector('#seconds').innerHTML = `Duração: ${formatarHorario()}`

    const baixado = () => {
        const button = document.querySelector("button");
        button.innerHTML = "Baixando...";
        button.style.backgroundColor = "#8d8d8d"
        setTimeout(() => {
            button.disabled = true
        }, 500)
    }
</script>